In [237]:
import numpy as np
import pandas as pd

In [238]:
df = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/dummy.csv")

In [239]:
df

   ID           Name  Age   Department  Salary
0   1       John Doe   28  Engineering   75000
1   2     Jane Smith   34    Marketing   68000
2   3    Emily Davis   25           HR   62000
3   4  Michael Brown   40      Finance   85000
4   5    Anna Wilson   29  Engineering   77000
5   6  David Johnson   38        Sales   72000
6   7     Lisa White   30           HR   60000
7   8    James Green   45      Finance   92000
8   9     Mary Adams   27        Sales   69000
9  10    Robert King   33    Marketing   71000

In [240]:
df2 = pd.read_table("/home/akshat/Desktop/Python_data_analysis/dummy_data/dummy.csv",sep = ",")

In [241]:
df2

   ID           Name  Age   Department  Salary
0   1       John Doe   28  Engineering   75000
1   2     Jane Smith   34    Marketing   68000
2   3    Emily Davis   25           HR   62000
3   4  Michael Brown   40      Finance   85000
4   5    Anna Wilson   29  Engineering   77000
5   6  David Johnson   38        Sales   72000
6   7     Lisa White   30           HR   60000
7   8    James Green   45      Finance   92000
8   9     Mary Adams   27        Sales   69000
9  10    Robert King   33    Marketing   71000

In [242]:
df_wh = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/dummy_without_header.csv",header=None)

In [243]:
df_wh2 = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/dummy_without_header.csv")

In [244]:
df_wh2

    1       John Doe  28  Engineering  75000
0   2     Jane Smith  34    Marketing  68000
1   3    Emily Davis  25           HR  62000
2   4  Michael Brown  40      Finance  85000
3   5    Anna Wilson  29  Engineering  77000
4   6  David Johnson  38        Sales  72000
5   7     Lisa White  30           HR  60000
6   8    James Green  45      Finance  92000
7   9     Mary Adams  27        Sales  69000
8  10    Robert King  33    Marketing  71000

In [245]:
df_wh_wname = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/dummy_without_header.csv",names = ['S.no','Names','age','Field','Salary'])

In [246]:
df_wh_wname

   S.no          Names  age        Field  Salary
0     1       John Doe   28  Engineering   75000
1     2     Jane Smith   34    Marketing   68000
2     3    Emily Davis   25           HR   62000
3     4  Michael Brown   40      Finance   85000
4     5    Anna Wilson   29  Engineering   77000
5     6  David Johnson   38        Sales   72000
6     7     Lisa White   30           HR   60000
7     8    James Green   45      Finance   92000
8     9     Mary Adams   27        Sales   69000
9    10    Robert King   33    Marketing   71000

In [247]:
df_wh_wname = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/dummy_without_header.csv",names = ['S.no','Names','age','Field','Salary'],)

In [248]:
df_wh_wname

   S.no          Names  age        Field  Salary
0     1       John Doe   28  Engineering   75000
1     2     Jane Smith   34    Marketing   68000
2     3    Emily Davis   25           HR   62000
3     4  Michael Brown   40      Finance   85000
4     5    Anna Wilson   29  Engineering   77000
5     6  David Johnson   38        Sales   72000
6     7     Lisa White   30           HR   60000
7     8    James Green   45      Finance   92000
8     9     Mary Adams   27        Sales   69000
9    10    Robert King   33    Marketing   71000

In [249]:
df_wh_wname = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/dummy_without_header.csv",names = ['ID','Names','age','Field','Salary'],index_col= "ID")

In [250]:
df_wh_wname

            Names  age        Field  Salary
ID
1        John Doe   28  Engineering   75000
2      Jane Smith   34    Marketing   68000
3     Emily Davis   25           HR   62000
4   Michael Brown   40      Finance   85000
5     Anna Wilson   29  Engineering   77000
6   David Johnson   38        Sales   72000
7      Lisa White   30           HR   60000
8     James Green   45      Finance   92000
9      Mary Adams   27        Sales   69000
10    Robert King   33    Marketing   71000

In [251]:
list(open("/home/akshat/Desktop/Python_data_analysis/dummy_data/sample_data_space.txt"))

['ID Name Age Department Salary\n',
 '1 John_Doe 28 Engineering 75000\n',
 '2 Jane_Smith 34 Marketing 68000\n',
 '3 Emily_Davis 25 HR 62000\n',
 '4 Michael_Brown 40 Finance 85000\n',
 '5 Anna_Wilson 29 Engineering 77000\n',
 '6 David_Johnson 38 Sales 72000\n',
 '7 Lisa_White 30 HR 60000\n',
 '8 James_Green 45 Finance 92000\n',
 '9 Mary_Adams 27 Sales 69000\n',
 '10 Robert_King 33 Marketing 71000\n']

In [252]:
cat /home/akshat/Desktop/Python_data_analysis/dummy_data/sample_data_space.txt

ID Name Age Department Salary
1 John_Doe 28 Engineering 75000
2 Jane_Smith 34 Marketing 68000
3 Emily_Davis 25 HR 62000
4 Michael_Brown 40 Finance 85000
5 Anna_Wilson 29 Engineering 77000
6 David_Johnson 38 Sales 72000
7 Lisa_White 30 HR 60000
8 James_Green 45 Finance 92000
9 Mary_Adams 27 Sales 69000
10 Robert_King 33 Marketing 71000

In [253]:
df_sp = pd.read_table("/home/akshat/Desktop/Python_data_analysis/dummy_data/sample_data_space.txt",delimiter= "\s+",index_col="ID")

In [254]:
df_sp

             Name  Age   Department  Salary
ID
1        John_Doe   28  Engineering   75000
2      Jane_Smith   34    Marketing   68000
3     Emily_Davis   25           HR   62000
4   Michael_Brown   40      Finance   85000
5     Anna_Wilson   29  Engineering   77000
6   David_Johnson   38        Sales   72000
7      Lisa_White   30           HR   60000
8     James_Green   45      Finance   92000
9      Mary_Adams   27        Sales   69000
10    Robert_King   33    Marketing   71000

In [255]:
df_sp_clean = pd.read_table("/home/akshat/Desktop/Python_data_analysis/dummy_data/sample_data_space_random.txt",delimiter= "\s+",skiprows= [3,7,10])

In [256]:
df_sp_clean

   ID           Name  Age   Department  Salary
0   1       John_Doe   28  Engineering   75000
1   2     Jane_Smith   34    Marketing   68000
2   3    Emily_Davis   25           HR   62000
3   4  Michael_Brown   40      Finance   85000
4   5    Anna_Wilson   29  Engineering   77000
5   6  David_Johnson   38        Sales   72000
6   7     Lisa_White   30           HR   60000
7   8    James_Green   45      Finance   92000
8   9     Mary_Adams   27        Sales   69000
9  10    Robert_King   33    Marketing   71000

In [257]:
df_missing = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/missing_values.csv",na_values=[""," "])

In [258]:
df_missing

      Name   Age   Gender          City   Salary
0    Alice  30.0   Female      New York  70000.0
1      Bob   NaN     Male   Los Angeles  55000.0
2  Charlie  25.0      NaN       Chicago      NaN
3    David  28.0     Male           NaN  60000.0
4      Eve  35.0   Female         Miami  80000.0
5    Frank   NaN     Male       Seattle  65000.0
6    Grace  29.0   Female           NaN      NaN

In [259]:
pd.isnull(df_missing)

    Name    Age   Gender   City   Salary
0  False  False    False  False    False
1  False   True    False  False    False
2  False  False     True  False     True
3  False  False    False   True    False
4  False  False    False  False    False
5  False   True    False  False    False
6  False  False    False   True     True

In [260]:
# Different Sentinels can be assigned for each row in the dataframe

sentinels = {'Name' : ['Grace','Frank'],'City' : ['Chicago']}
df_missing2 = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/missing_values.csv",na_values=sentinels)
df_missing2

      Name  Age   Gender          City  Salary
0    Alice   30   Female      New York   70000
1      Bob          Male   Los Angeles   55000
2  Charlie   25                Chicago
3    David   28     Male                 60000
4      Eve   35   Female         Miami   80000
5      NaN          Male       Seattle   65000
6      NaN   29   Female

In [261]:
pd.options.display.max_rows = 10

In [262]:
survey_data = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/annual-enterprise-survey-2023-financial-year-provisional.csv")

In [263]:
survey_data

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [264]:
survey_data_test_chunk = pd.read_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/annual-enterprise-survey-2023-financial-year-provisional.csv",chunksize= 500)

In [265]:
survey_data_test_chunk

In [266]:
df

   ID           Name  Age   Department  Salary
0   1       John Doe   28  Engineering   75000
1   2     Jane Smith   34    Marketing   68000
2   3    Emily Davis   25           HR   62000
3   4  Michael Brown   40      Finance   85000
4   5    Anna Wilson   29  Engineering   77000
5   6  David Johnson   38        Sales   72000
6   7     Lisa White   30           HR   60000
7   8    James Green   45      Finance   92000
8   9     Mary Adams   27        Sales   69000
9  10    Robert King   33    Marketing   71000

In [267]:
df.to_csv("/home/akshat/Desktop/Python_data_analysis/dummy_data/output.csv")

In [268]:
import sys
df.to_csv(sys.stdout ,sep = ",")

,ID,Name,Age,Department,Salary
0,1,John Doe,28,Engineering,75000
1,2,Jane Smith,34,Marketing,68000
2,3,Emily Davis,25,HR,62000
3,4,Michael Brown,40,Finance,85000
4,5,Anna Wilson,29,Engineering,77000
5,6,David Johnson,38,Sales,72000
6,7,Lisa White,30,HR,60000
7,8,James Green,45,Finance,92000
8,9,Mary Adams,27,Sales,69000
9,10,Robert King,33,Marketing,71000

In [269]:
import csv

In [270]:
f = open('/home/akshat/Desktop/Python_data_analysis/dummy_data/db_quotes.csv')

In [271]:
reader = csv.reader(f)

In [272]:
reader

In [273]:
for line in reader:
    print(line)

['Name', 'Age', 'City']
['John Doe', '28', 'New York']
['Jane Smith', '34', 'Los Angeles']
['Sam Brown', '22', 'Chicago']
['Emily Davis', '30', 'Houston']

In [274]:
with open('/home/akshat/Desktop/Python_data_analysis/dummy_data/db_quotes.csv') as f:
    lines = list(csv.reader(f))

In [275]:
lines

[['Name', 'Age', 'City'],
 ['John Doe', '28', 'New York'],
 ['Jane Smith', '34', 'Los Angeles'],
 ['Sam Brown', '22', 'Chicago'],
 ['Emily Davis', '30', 'Houston']]

In [276]:
header,values = lines[0] , lines[1:]

In [277]:
header

['Name', 'Age', 'City']

In [278]:
values

[['John Doe', '28', 'New York'],
 ['Jane Smith', '34', 'Los Angeles'],
 ['Sam Brown', '22', 'Chicago'],
 ['Emily Davis', '30', 'Houston']]

In [279]:
list(zip(header,values))

[('Name', ['John Doe', '28', 'New York']),
 ('Age', ['Jane Smith', '34', 'Los Angeles']),
 ('City', ['Sam Brown', '22', 'Chicago'])]

In [280]:
list(zip(header,*values))

[('Name', 'John Doe', 'Jane Smith', 'Sam Brown', 'Emily Davis'),
 ('Age', '28', '34', '22', '30'),
 ('City', 'New York', 'Los Angeles', 'Chicago', 'Houston')]

In [281]:
list(zip(header,zip(*values)))

[('Name', ('John Doe', 'Jane Smith', 'Sam Brown', 'Emily Davis')),
 ('Age', ('28', '34', '22', '30')),
 ('City', ('New York', 'Los Angeles', 'Chicago', 'Houston'))]

In [282]:
list(zip(*values))

[('John Doe', 'Jane Smith', 'Sam Brown', 'Emily Davis'),
 ('28', '34', '22', '30'),
 ('New York', 'Los Angeles', 'Chicago', 'Houston')]

### h : v means that h is the key and v is the value then we are iterating over zip(header,zip*values) assigning their values to h and v

In [283]:
{h:v for h,v in zip(header,zip(*values))}

{'Name': ('John Doe', 'Jane Smith', 'Sam Brown', 'Emily Davis'),
 'Age': ('28', '34', '22', '30'),
 'City': ('New York', 'Los Angeles', 'Chicago', 'Houston')}

In [284]:
print(csv.list_dialects())

['excel', 'excel-tab', 'unix']

In [285]:
class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ","
    quotechar = "|"
    quoting = csv.QUOTE_MINIMAL

In [286]:
f = open('/home/akshat/Desktop/Python_data_analysis/dummy_data/db_quotes.csv')
reader = csv.reader(f,dialect= my_dialect)

In [287]:
reader

In [288]:
list(reader)

[['"Name"', '"Age"', '"City"'],
 ['"John Doe"', '"28"', '"New York"'],
 ['"Jane Smith"', '"34"', '"Los Angeles"'],
 ['"Sam Brown"', '"22"', '"Chicago"'],
 ['"Emily Davis"', '"30"', '"Houston"']]

In [289]:
csv.list_dialects()

['excel', 'excel-tab', 'unix']

In [290]:
from csv import Sniffer
dialect = csv.Sniffer().sniff(sample = "0,1,John Doe,28,Engineering,75000")

In [291]:
dialect

csv.Sniffer.sniff.<locals>.dialect

In [292]:
reader = csv.reader(f,dialect)

In [293]:
list(reader)

[]

In [294]:
import json

In [295]:
obj = '''
{
  "name": "Michael Johnson",
  "age": 30,
  "places_lived": [
    {
      "city": "New York",
      "state": "NY",
      "years_lived": 5
    },
    {
      "city": "Los Angeles",
      "state": "CA",
      "years_lived": 3
    },
    {
      "city": "Austin",
      "state": "TX",
      "years_lived": 2
    }
  ],
  "pets": [
    {
      "type": "cat",
      "name": "Whiskers",
      "age": 4
    },
    {
      "type": "dog",
      "name": "Buddy",
      "age": 7
    }
  ],
  "siblings": [
    {
      "name": "Sarah Johnson",
      "age": 28,
      "relationship": "sister",
      "places_lived": [
        {
          "city": "Chicago",
          "state": "IL",
          "years_lived": 3
        },
        {
          "city": "San Francisco",
          "state": "CA",
          "years_lived": 2
        }
      ],
      "pets": [
        {
          "type": "hamster",
          "name": "Nibbles",
          "age": 2
        }
      ]
    },
    {
      "name": "David Johnson",
      "age": 25,
      "relationship": "brother",
      "places_lived": [
        {
          "city": "Seattle",
          "state": "WA",
          "years_lived": 4
        }
      ],
      "pets": []
    }
  ]
}
'''

In [296]:
result = json.loads(obj)

In [297]:
result

{'name': 'Michael Johnson',
 'age': 30,
 'places_lived': [{'city': 'New York', 'state': 'NY', 'years_lived': 5},
  {'city': 'Los Angeles', 'state': 'CA', 'years_lived': 3},
  {'city': 'Austin', 'state': 'TX', 'years_lived': 2}],
 'pets': [{'type': 'cat', 'name': 'Whiskers', 'age': 4},
  {'type': 'dog', 'name': 'Buddy', 'age': 7}],
 'siblings': [{'name': 'Sarah Johnson',
   'age': 28,
   'relationship': 'sister',
   'places_lived': [{'city': 'Chicago', 'state': 'IL', 'years_lived': 3},
    {'city': 'San Francisco', 'state': 'CA', 'years_lived': 2}],
   'pets': [{'type': 'hamster', 'name': 'Nibbles', 'age': 2}]},
  {'name': 'David Johnson',
   'age': 25,
   'relationship': 'brother',
   'places_lived': [{'city': 'Seattle', 'state': 'WA', 'years_lived': 4}],
   'pets': []}]}

In [298]:
result_json = json.dumps(result)

In [299]:
result_json

'{"name": "Michael Johnson", "age": 30, "places_lived": [{"city": "New York", "state": "NY", "years_lived": 5}, {"city": "Los Angeles", "state": "CA", "years_lived": 3}, {"city": "Austin", "state": "TX", "years_lived": 2}], "pets": [{"type": "cat", "name": "Whiskers", "age": 4}, {"type": "dog", "name": "Buddy", "age": 7}], "siblings": [{"name": "Sarah Johnson", "age": 28, "relationship": "sister", "places_lived": [{"city": "Chicago", "state": "IL", "years_lived": 3}, {"city": "San Francisco", "state": "CA", "years_lived": 2}], "pets": [{"type": "hamster", "name": "Nibbles", "age": 2}]}, {"name": "David Johnson", "age": 25, "relationship": "brother", "places_lived": [{"city": "Seattle", "state": "WA", "years_lived": 4}], "pets": []}]}'

In [300]:
result

{'name': 'Michael Johnson',
 'age': 30,
 'places_lived': [{'city': 'New York', 'state': 'NY', 'years_lived': 5},
  {'city': 'Los Angeles', 'state': 'CA', 'years_lived': 3},
  {'city': 'Austin', 'state': 'TX', 'years_lived': 2}],
 'pets': [{'type': 'cat', 'name': 'Whiskers', 'age': 4},
  {'type': 'dog', 'name': 'Buddy', 'age': 7}],
 'siblings': [{'name': 'Sarah Johnson',
   'age': 28,
   'relationship': 'sister',
   'places_lived': [{'city': 'Chicago', 'state': 'IL', 'years_lived': 3},
    {'city': 'San Francisco', 'state': 'CA', 'years_lived': 2}],
   'pets': [{'type': 'hamster', 'name': 'Nibbles', 'age': 2}]},
  {'name': 'David Johnson',
   'age': 25,
   'relationship': 'brother',
   'places_lived': [{'city': 'Seattle', 'state': 'WA', 'years_lived': 4}],
   'pets': []}]}

In [301]:
result['siblings']

[{'name': 'Sarah Johnson',
  'age': 28,
  'relationship': 'sister',
  'places_lived': [{'city': 'Chicago', 'state': 'IL', 'years_lived': 3},
   {'city': 'San Francisco', 'state': 'CA', 'years_lived': 2}],
  'pets': [{'type': 'hamster', 'name': 'Nibbles', 'age': 2}]},
 {'name': 'David Johnson',
  'age': 25,
  'relationship': 'brother',
  'places_lived': [{'city': 'Seattle', 'state': 'WA', 'years_lived': 4}],
  'pets': []}]

In [302]:
pd.DataFrame(result['siblings'])

,name,age,relationship,places_lived,pets
0,Sarah Johnson,28,sister,"[{'city': 'Chicago', 'state': 'IL', 'years_liv...","[{'type': 'hamster', 'name': 'Nibbles', 'age':..."
1,David Johnson,25,brother,"[{'city': 'Seattle', 'state': 'WA', 'years_liv...",[]

In [303]:
pd.DataFrame(result['siblings'],columns = ["name","age"])

            name  age
0  Sarah Johnson   28
1  David Johnson   25

In [304]:
pd.DataFrame(result['siblings'],columns = ["name","age"],index = range(1,3))

            name  age
1  Sarah Johnson   28
2  David Johnson   25

In [305]:
df

   ID           Name  Age   Department  Salary
0   1       John Doe   28  Engineering   75000
1   2     Jane Smith   34    Marketing   68000
2   3    Emily Davis   25           HR   62000
3   4  Michael Brown   40      Finance   85000
4   5    Anna Wilson   29  Engineering   77000
5   6  David Johnson   38        Sales   72000
6   7     Lisa White   30           HR   60000
7   8    James Green   45      Finance   92000
8   9     Mary Adams   27        Sales   69000
9  10    Robert King   33    Marketing   71000

In [306]:
df.to_json()

'{"ID":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10},"Name":{"0":"John Doe","1":"Jane Smith","2":"Emily Davis","3":"Michael Brown","4":"Anna Wilson","5":"David Johnson","6":"Lisa White","7":"James Green","8":"Mary Adams","9":"Robert King"},"Age":{"0":28,"1":34,"2":25,"3":40,"4":29,"5":38,"6":30,"7":45,"8":27,"9":33},"Department":{"0":"Engineering","1":"Marketing","2":"HR","3":"Finance","4":"Engineering","5":"Sales","6":"HR","7":"Finance","8":"Sales","9":"Marketing"},"Salary":{"0":75000,"1":68000,"2":62000,"3":85000,"4":77000,"5":72000,"6":60000,"7":92000,"8":69000,"9":71000}}'

In [307]:
import requests

In [308]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [309]:
resp = requests.get(url)

In [310]:
resp

In [311]:
data = resp.json()

In [312]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59916',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59916/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59916/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59916/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/59916',
  'id': 2554474168,
  'node_id': 'PR_kwDOAA0YD859AOU-',
  'number': 59916,
  'title': 'ENH: Be able to add lines for all index levels, not just visible ones [fix #59877]',
  'user': {'login': 'edbennett',
   'id': 1698405,
   'node_id': 'MDQ6VXNlcjE2OTg0MDU=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1698405?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/edbennett',
   'html_url': 'https://github.com/edbennett',
   'followers_url': 'https://api.github.com/users/edbennett/followers',
   'following_url': 'https://api.github.com/users/edbennett/following{/other_user}',
   'gists_url': 'https://api.github.com/users/edbennett/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/edbennett/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/edbennett/subscriptions',
   'organizations_url': 'https://api.github.com/users/edbennett/orgs',
   'repos_url': 'https://api.github.com/users/edbennett/repos',
   'events_url': 'https://api.github.com/users/edbennett/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/edbennett/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-09-28T19:56:21Z',
  'updated_at': '2024-09-28T19:56:21Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/59916',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/59916',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/59916.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/59916.patch',
   'merged_at': None},
  'body': 'Per discussion in #59877, add an `-invisible` suffix that can be added to the index selection in the `clines` option to `Styler.to_latex()`, allowing hidden indices to be used when deciding where to place lines between rows.\r\n\r\nThis approach does not break compatibility with existing code, at the expense of starting a potential combinatoric explosion of options being combined into this one string. There may be a more elegant and/or expressive way of achieving the same result, at the cost of breaking compatibility (or needing to maintain two interfaces until the previous one is deprecated).\r\n\r\n\r\n- [x] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [x] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions. [No new arguments, methods, or functions added, outside of tests.]\r\n- [x] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59916/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59916/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59915',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59915/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59915/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59915/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/59915',
  'id': 2554363630,
  'node_id': 'I_kwDOAA0YD86YQH7u',
  'number': 59915,
  'title': 'BUG: "Columns must be same length as key" exception when .apply() per row on an empty DataFrame.',
  'user': {'login': 'Zhdanovich',
   'id': 1948844,
   'node_id': 'MDQ6VXNlcjE5NDg4NDQ=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1948844?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/Zhdanovich',
   'html_url': 'https://github.com/Zhdanovich',
   'followers_url': 'https://api.github.com/users/Zhdanovich/followers',
   'following_url': 'https://api.github.com/users/Zhdanovich/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Zhdanovich/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/Zhdanovich/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Zhdanovich/subscriptions',
   'organizations_url': 'https://api.github.com/users/Zhdanovich/orgs',
   'repos_url': 'https://api.github.com/users/Zhdanovich/repos',
   'events_url': 'https://api.github.com/users/Zhdanovich/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/Zhdanovich/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-09-28T16:06:49Z',
  'updated_at': '2024-09-28T16:26:21Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\r\n\r\n- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\r\n\r\n- [X] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\r\n\r\n\r\n### Reproducible Example\r\n\r\n```python\r\nimport pandas as pd\r\n\r\nMAPPING = {"a": 1, "b": 2}\r\n\r\ndf = pd.DataFrame(columns=[\'hour\', \'value\', \'zone\'])\r\n\r\ndf["updated_hour"] = pd.to_datetime(df["hour"])\r\ndf["updated_value"] = df["value"].apply(lambda x: x - x % 100_000)\r\n\r\n# This line will fail since there are no rows to apply the lambda on\r\ndf["updated_value"] = df.apply(lambda row: min(row["updated_value"], MAPPING[row["zone"]]), axis=1)\r\n```\r\n\r\n\r\n### Issue Description\r\n\r\nAbove code raises exception: "Columns must be same length as key.".\r\n\r\n### Expected Behavior\r\n\r\nReturn and Assign an empty Series without raising errors (if no rows are present).\r\n\r\n### Installed Versions\r\n\r\n<details>\r\n\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140\r\npython                : 3.11.9.final.0\r\npython-bits           : 64\r\nOS                    : Darwin\r\nOS-release            : 23.1.0\r\nVersion               : Darwin Kernel Version 23.1.0: Mon Oct  9 21:27:24 PDT 2023; root:xnu-10002.41.9~6/RELEASE_ARM64_T6000\r\nmachine               : arm64\r\nprocessor             : arm\r\nbyteorder             : little\r\nLC_ALL                : en_US.UTF-8\r\nLANG                  : en_US.UTF-8\r\nLOCALE                : en_US.UTF-8\r\n\r\npandas                : 2.2.2\r\nnumpy                 : 2.1.0\r\npytz                  : 2024.1\r\ndateutil              : 2.9.0\r\nsetuptools            : 72.2.0\r\npip                   : 24.2\r\nCython                : None\r\npytest                : None\r\nhypothesis            : None\r\nsphinx                : None\r\nblosc                 : None\r\nfeather               : None\r\nxlsxwriter            : None\r\nlxml.etree            : None\r\nhtml5lib              : None\r\npymysql               : None\r\npsycopg2              : None\r\njinja2                : 3.1.4\r\nIPython               : 8.26.0\r\npandas_datareader     : None\r\nadbc-driver-postgresql: None\r\nadbc-driver-sqlite    : None\r\nbs4                   : 4.12.3\r\nbottleneck            : None\r\ndataframe-api-compat  : None\r\nfastparquet           : None\r\nfsspec                : None\r\ngcsfs                 : None\r\nmatplotlib            : 3.9.2\r\nnumba                 : None\r\nnumexpr               : None\r\nodfpy                 : None\r\nopenpyxl              : None\r\npandas_gbq            : None\r\npyarrow               : 17.0.0\r\npyreadstat            : None\r\npython-calamine       : None\r\npyxlsb                : None\r\ns3fs                  : None\r\nscipy                 : 1.14.1\r\nsqlalchemy            : None\r\ntables                : None\r\ntabulate              : None\r\nxarray                : None\r\nxlrd                  : None\r\nzstandard             : 0.23.0\r\ntzdata                : 2024.1\r\nqtpy                  : 2.4.1\r\npyqt5                 : None\r\n\r\n</details>\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59915/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59915/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59914',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59914/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59914/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59914/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/59914',
  'id': 2554282457,
  'node_id': 'PR_kwDOAA0YD858_k15',
  'number': 59914,
  'title': 'DOC: fix pandas.TimedeltaIndex.to_pytimedelta RT03,SA01',
  'user': {'login': 'saldanhad',
   'id': 115748404,
   'node_id': 'U_kgDOBuYuNA',
   'avatar_url': 'https://avatars.githubusercontent.com/u/115748404?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/saldanhad',
   'html_url': 'https://github.com/saldanhad',
   'followers_url': 'https://api.github.com/users/saldanhad/followers',
   'following_url': 'https://api.github.com/users/saldanhad/following{/other_user}',
   'gists_url': 'https://api.github.com/users/saldanhad/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/saldanhad/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/saldanhad/subscriptions',
   'organizations_url': 'https://api.github.com/users/saldanhad/orgs',
   'repos_url': 'https://api.github.com/users/saldanhad/repos',
   'events_url': 'https://api.github.com/users/saldanhad/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/saldanhad/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-09-28T14:52:44Z',
  'updated_at': '2024-09-28T14:52:45Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/59914',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/59914',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/59914.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/59914.patch',
   'merged_at': None},
  'body': 'fixes:\r\n```\r\n-i pandas.TimedeltaIndex.to_pytimedelta RT03,SA01\r\n```',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59914/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59914/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59913',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59913/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59913/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59913/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/59913',
  'id': 2554241969,
  'node_id': 'I_kwDOAA0YD86YPqOx',
  'number': 59913,
  'title': 'BUG: SparseFrameAccessor.to_dense ignores _constructor',
  'user': {'login': 'janezd',
   'id': 2387315,
   'node_id': 'MDQ6VXNlcjIzODczMTU=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/2387315?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/janezd',
   'html_url': 'https://github.com/janezd',
   'followers_url': 'https://api.github.com/users/janezd/followers',
   'following_url': 'https://api.github.com/users/janezd/following{/other_user}',
   'gists_url': 'https://api.github.com/users/janezd/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/janezd/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/janezd/subscriptions',
   'organizations_url': 'https://api.github.com/users/janezd/orgs',
   'repos_url': 'https://api.github.com/users/janezd/repos',
   'events_url': 'https://api.github.com/users/janezd/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/janezd/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-09-28T13:54:05Z',
  'updated_at': '2024-09-28T14:02:47Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\n\n\n### Reproducible Example\n\n```python\nimport scipy.sparse as sp\r\nimport pandas as pd\r\n\r\nclass MF(pd.DataFrame):\r\n    @property\r\n    def _constructor(self):\r\n        return MF\r\n\t\r\narr = pd.core.arrays.SparseArray.from_spmatrix(sp.csr_matrix((3, 1)))\r\ndf = MF(arr)\r\nprint(type(df.sparse.to_dense()).__name__)\n```\n\n\n### Issue Description\n\n`to_dense` ignores `_constructor` and always returns `DataFrame`.\r\n\r\n```python\r\n    def to_dense(self) -> DataFrame:\r\n        from pandas import DataFrame\r\n\r\n        data = {k: v.array.to_dense() for k, v in self._parent.items()}\r\n        return DataFrame(data, index=self._parent.index, columns=self._parent.columns)\r\n```\r\n\r\nI think the code should look like this:\r\n\r\n```python\r\n    def to_dense(self) -> DataFrame:\r\n        data = {k: v.array.to_dense() for k, v in self._parent.items()}\r\n        constr = self._parent._constructor\r\n        return constr(data, index=self._parent.index, columns=self._parent.columns)\r\n```\r\n\r\nWe use(d) an ugly workaround, but it will stop working in Pandas 3 because of #58733. See our temporary solution in https://github.com/biolab/orange3/pull/6897/commits/98c48e1b3b7c705f10af195a395213114dc2a917. :(\n\n### Expected Behavior\n\nWhen subclassing `DataFrame` (which, I know, is discouraged, but sometimes difficult to avoid), `to_dense` should observe the constructor returned by `_constructor`.\n\n### Installed Versions\n\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit                : 23c497bb2f7e05af1fda966e7fb04db942453559\r\npython                : 3.11.10\r\npython-bits           : 64\r\nOS                    : Darwin\r\nOS-release            : 23.6.0\r\nVersion               : Darwin Kernel Version 23.6.0: Mon Jul 29 21:14:30 PDT 2024; root:xnu-10063.141.2~1/RELEASE_ARM64_T6000\r\nmachine               : arm64\r\nprocessor             : arm\r\nbyteorder             : little\r\nLC_ALL                : None\r\nLANG                  : en_GB.UTF-8\r\nLOCALE                : en_GB.UTF-8\r\n\r\npandas                : 3.0.0.dev0+1524.g23c497bb2f\r\nnumpy                 : 1.26.4\r\ndateutil              : 2.9.0.post0\r\npip                   : 24.2\r\nCython                : 3.0.11\r\nsphinx                : 4.5.0\r\nIPython               : 8.27.0\r\nadbc-driver-postgresql: None\r\nadbc-driver-sqlite    : None\r\nbs4                   : 4.13.0b2\r\nblosc                 : None\r\nbottleneck            : 1.4.0\r\nfastparquet           : None\r\nfsspec                : None\r\nhtml5lib              : 1.1\r\nhypothesis            : None\r\ngcsfs                 : None\r\njinja2                : 3.1.4\r\nlxml.etree            : 5.3.0\r\nmatplotlib            : 3.9.2\r\nnumba                 : None\r\nnumexpr               : None\r\nodfpy                 : None\r\nopenpyxl              : 3.1.5\r\npsycopg2              : None\r\npymysql               : None\r\npyarrow               : None\r\npyreadstat            : None\r\npytest                : 8.3.3\r\npython-calamine       : None\r\npytz                  : 2024.2\r\npyxlsb                : None\r\ns3fs                  : None\r\nscipy                 : 1.15.0.dev0+git20240926.4c936c8\r\nsqlalchemy            : None\r\ntables                : None\r\ntabulate              : None\r\nxarray                : None\r\nxlrd                  : 2.0.1\r\nxlsxwriter            : 3.2.0\r\nzstandard             : None\r\ntzdata                : 2024.1\r\nqtpy                  : 2.4.1\r\npyqt5                 : None\r\n\r\n</details>\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59913/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/59913/timeline',
  'performed_via_github_app': None,
  'state_reason': None},

In [313]:
data[0]['title']

'ENH: Be able to add lines for all index levels, not just visible ones [fix #59877]'

In [314]:
issues = pd.DataFrame(data,columns=['number','title','state'])

In [315]:
issues

    number                                              title state
0    59916  ENH: Be able to add lines for all index levels...  open
1    59915  BUG: "Columns must be same length as key" exce...  open
2    59914  DOC: fix pandas.TimedeltaIndex.to_pytimedelta ...  open
3    59913  BUG: SparseFrameAccessor.to_dense ignores _con...  open
4    59911  DOC: Fix documentation's pandas.Series.compare...  open
..     ...                                                ...   ...
25   59882  BUG: When using to_excel() columns with Date F...  open
26   59880   DOC: defaults in method signature vs description  open
27   59879  BUG (string dtype): looking up missing value i...  open
28   59878  DOC: Add doc for `series.dt.to_timestamp` & re...  open
29   59877  ENH: Adding `\cline`s to LaTeX table if index ...  open

[30 rows x 3 columns]

In [316]:
pd.DataFrame(np.arange(200))

       0
0      0
1      1
2      2
3      3
4      4
..   ...
195  195
196  196
197  197
198  198
199  199

[200 rows x 1 columns]

In [317]:
pd.DataFrame(range(200))

       0
0      0
1      1
2      2
3      3
4      4
..   ...
195  195
196  196
197  197
198  198
199  199

[200 rows x 1 columns]