In [26]:
my_set = {1,2,3,4,5}

In [27]:
my_empty_set = set()
print(my_empty_set)

set()

In [28]:
my_set = set([1,2,3,4,5,6])
print(my_empty_set)

set()

In [29]:
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [30]:
my_set.remove(3)

In [31]:
my_set

{1, 2, 4, 5, 6, 7}

In [35]:
my_set.remove(3)

KeyError: 3

In [33]:
# myset.remove() gives us an error if a key is not found but myset.discard() will not raise an exception
my_set.discard(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [34]:
# Sets follow FIFO principle
removed_element = my_set.pop()
print(removed_element)

1

In [36]:
my_set.clear()
my_set

set()

In [37]:
my_set = {1,2,3,4,5,6}

In [40]:
print(3 in my_set)
print(5 in my_set)
print(100 in my_set)

True
True
False

In [41]:
# Mathematical Operations on sets

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

union_set = set1.union(set2)
print(union_set)
=
intersection_set = set1.intersection(set2)
print(intersection_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [43]:
set1.intersection_update(set2) # Makes the intersection in-place
print(set1)

{4, 5, 6}