In [98]:
# answer 1
num_list = [num for num in range(1,21)]

In [99]:
# answer 2
first = num_list[0]
last = num_list[-1]
middle = num_list[len(num_list)//2]
print(first,middle,last)

1 11 20

In [100]:
# answer 3
print(num_list[:5])
print(num_list[-5:])
print(num_list[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [101]:
# answer 5
even_num_list = [num for num in num_list if num % 2 == 0]

In [102]:
even_num_list
import random

In [103]:
# answer 6
random_list = [random.randint(1,100) for _ in range(10)]

In [104]:
random_list

[81, 81, 26, 55, 25, 13, 14, 37, 45, 92]

In [105]:
random_list.sort()

In [106]:
random_list

[13, 14, 25, 26, 37, 45, 55, 81, 81, 92]

In [107]:
random_list.sort(reverse= True)

In [108]:
random_list

[92, 81, 81, 55, 45, 37, 26, 25, 14, 13]

In [109]:
random_list.append(58)

In [110]:
random_list

[92, 81, 81, 55, 45, 37, 26, 25, 14, 13, 58]

In [111]:
unique_val = {item for item in random_list}
unique_val

{13, 14, 25, 26, 37, 45, 55, 58, 81, 92}

In [112]:
unique_list = list(set(random_list))

In [113]:
unique_list

[58, 37, 45, 14, 13, 81, 55, 25, 26, 92]

In [114]:
# answer 7
matrix_3_3 = [[1,2,3],[4,5,6],[7,8,9]]
matrix_3_3

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [115]:
matrix_3_3[1][2]

6

In [116]:
# Answer 8

students_score = [
    {"name": "Akshat",
     "score" : 70},
    {"name": "Ishita",
     "score" : 60},
    {"name": "Anshul",
     "score" : 80},
    {"name": "Sudesh",
     "score" : 90},
]

In [117]:
# students_score[0]["score"]
# students_score.sort(key = students_score[0]["score"])

name = [{
    "name":"Akshat",
    "age" : 19
},
{
            "name":"Ishita",
            "age" : 20
            },
{
    "name" : "Anshul",
    "age" : 25
}]

# sorted()

In [118]:
name

[{'name': 'Akshat', 'age': 19},
 {'name': 'Ishita', 'age': 20},
 {'name': 'Anshul', 'age': 25}]

In [119]:
# sorted(name,key = name["name"])
sorted(name,key = lambda x : x['name'],reverse= True)

[{'name': 'Ishita', 'age': 20},
 {'name': 'Anshul', 'age': 25},
 {'name': 'Akshat', 'age': 19}]

In [120]:
# answer 9


# def take_matrix(matrix):
len(matrix_3_3[0])

3

In [121]:
columns = 4
rows = 3
matrix = [[0] * columns for _ in range(rows)]
matrix

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [122]:
def take_matrix(matrix):
    for i in range(len(matrix)):
        for j in range(len(matrix[0])):
            matrix[i][j] = input(f"enter value of {i}th index and {j}th index")

In [123]:
def transpose_matrix(matrix):
    transposed_matrix = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed_matrix

In [124]:
def print_matrix(matrix):
    for i in range(len(matrix)):
        for j in range(len(matrix[0])):
            print(matrix[i][j], end=" ")
        print()  # Move to the next line after printing each row

In [125]:
take_matrix(matrix)
print_matrix(matrix)
print()
transposed_matrix = transpose_matrix(matrix)
print_matrix(transposed_matrix)

In [126]:
# answer 10

def flatten_a_2d_list(matrix):
    return [matrix[i][j] for i in range(len(matrix)) for j in range(len(matrix[0]))]

In [127]:
flatten_a_2d_list([[1,2,3],[4,5,6],[7,8,9]])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
# Answer 11
first_10 = list(range(1,11))

In [129]:
first_10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [130]:
pos_to_remove = [2,4,6]

result = filter(lambda x : first_10.index(x) not in pos_to_remove,first_10)

In [131]:
new_10 = list(result)

new_10.insert(5,99)
print(new_10)

[1, 2, 4, 6, 8, 99, 9, 10]

In [137]:
# answer 12
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]

In [138]:
ans = zip(list1,list2)

In [139]:
list(ans)

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 0)]

In [140]:
# answer 13

def reverse_list(my_list):
    return my_list[::-1]

In [142]:
reverse_list([1,2,3,4,5,6,7,8,9,10])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [143]:
# answer 14

def reverse_list_by_k_places(my_list,k):
    return my_list[-k:] + my_list[:-k]

In [146]:
reverse_list_by_k_places([1,2,3,4,5,6,7,8,9,10],4)

[7, 8, 9, 10, 1, 2, 3, 4, 5, 6]

In [153]:
def take_2_lists(list1,list2):
    for i in range(len(list1)):
        list1[i] = input(f"enter the {i}th character")
        
    for i in range(len(list2)):
        list2[i] = input(f"enter the {i}th character")

In [154]:
def list_intersection(list1,list2):
    return [num1 for num1 in list1 for num2 in list2 if num1 == num2]

In [155]:
list1 = [x  for x in range(5)]
list2 = [x  for x in range(5)] 
take_2_lists(list1,list2)
print(list_intersection(list1,list2))

['1', '2', '3', '4']