In [1]:
tuple1 = tuple()

In [2]:
tp = (1,2,3)
tp*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [4]:
#  tuple methods

numbers = (1,1,2,2,2,3,4,5,6,7,8,9,10)
print(numbers.count(2))
print(numbers.index(5))

3
7

In [5]:
# packing and unpacking tuples

something = "Akshat",19,3.14

In [6]:
something

('Akshat', 19, 3.14)

In [13]:
# * (operator) is used in tuple to unpack them till the last

numbers = (1,2,3,4,5,6,7)

first,*middle,last_2,last = numbers

In [14]:
print(first,middle,last_2,last,sep = ", ")

1, [2, 3, 4, 5], 6, 7

In [15]:
nested_tuples = ((1,2,3),(4,5,6),(7,8,9))

In [17]:
for sub in nested_tuples:
    for item in sub:
        print(item,end = " ")
    print()

1 2 3
4 5 6
7 8 9