In [47]:
# Answer 1
numbers = tuple(range(1,11))
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [48]:
# answer 2
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [49]:
# answer 3
print(numbers[:3])
print(numbers[-3:])
print(numbers[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [50]:
# answer 4
tuple_3_by_3 = ((1,2,3),(4,5,6),(7,8,9))
tuple_3_by_3[1][2]

6

In [51]:
# answer 5
tp1 = (1,2,3)
tp2 = (4,5,6)

print(tp1 + tp2)

(1, 2, 3, 4, 5, 6)

In [52]:
# answer 6
sample_tuple = (1,2,3,4,5,6,6,6,7,8,9,9,10)

In [53]:
print(sample_tuple.count(6))
print(sample_tuple.index(9))

3
10

In [54]:
# answer 7
tp = (1,2,3,4,5)
a,b,c,d,e = tp
print(a,b,c,d,e)

1 2 3 4 5

In [55]:
# answer 8

first_5 = tuple(list([1,2,3,4,5]))
print(first_5)

(1, 2, 3, 4, 5)

In [56]:
# answer 9

nested_3_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(nested_3_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [57]:
# answer 10

tp = (1,2,3,4,5)
lst = list(tp)
lst.append(6)
tp2 = tuple(lst)
print(tp2)

(1, 2, 3, 4, 5, 6)

In [58]:
# answer 11

string = "AKSHAT_KHATRI"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

AKSHAT_KHATRI

In [59]:
# answer 12

my_dict = {
    (1,2,3) : 1,
    (4,5,6) : 2,
    (7,8,9) : 3,
    (10,11,12) : 4
}

In [60]:
my_dict

{(1, 2, 3): 1, (4, 5, 6): 2, (7, 8, 9): 3, (10, 11, 12): 4}

In [61]:
# answer 13

nested_tuples = ((1,2,3),(4,5,6),(7,8,9))

for sub_tup in nested_tuples:
    for item in sub_tup:
        print(item, end = " ")
    print()

1 2 3
4 5 6
7 8 9

In [62]:
my_tuple = (1,2,3,4,4,4,5,5,6,6,6,6,7,8,8,9,10,10,10,10,10)
set(my_tuple)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [63]:
# answer 15

def tuple_info(my_tuple):
    mini = 200000
    maxi = 0
    sum = 0
    
    for item in my_tuple:
        if item < mini:
            mini = item
        if item > maxi:
            maxi = item
        sum += item
        
    return mini,maxi,sum

In [64]:
sample_tuple = (1,2,3,4,5,6,7,8,9,10)
mini,maxi,sum = tuple_info(sample_tuple)

print(mini)
print(maxi)
print(sum)

1
10
55